*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    width: 100%;
    padding: 10px 200px;
    position: fixed;
    z-index: 999;
    align-items: center;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 800;
    color: #3a6cf4;
}
.navigation a{
    text-decoration: none;
    font-size: larger;
    padding-left: 20px;
   color: #3a6cf4;

}
p{
    background-color: blue;
    color: aliceblue;
    margin-top: 5%;
}
